{% set footer_style = footer_style|default('dark') -%}
<footer>
  <section class="contact-section section-content-{{footer_style}}-bg" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <a href="{{'/'|url}}"><img class="contact-reana-logo" src="{{ '/static/img/logo-reana.svg'|asseturl }}" /></a>
          <div class="container collaborations-block">
            <div class="row">
              <div class="logo-collaborator-container">
                <a href="https://home.cern"><img src="{{ '/static/img/logo-cern.png'|asseturl }}" title="CERN" /></a>
                <a href="https://www.nsf.gov/"><img src="{{ '/static/img/logo-nsf.png'|asseturl }}" title="National Science Foundation" /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 offset-md-2">
          <h3 class="contact-title">Keep in touch</h3>
          <table class="contact-list">
            <tbody>
              <tr>
                <td class="contact-list-header"><i class="fab fa-github"></i> GitHub</td>
                <td>
                  <a href="https://github.com/reanahub">@reanahub</a>
                </td>
              </tr>
              <tr>
                <td class="contact-list-header"><i class="fab fa-docker"></i> DockerHub</td>
                <td>
                  <a href="https://hub.docker.com/u/reanahub/">@reanahub</a>
                </td>
              </tr>
              <tr>
                <td class="contact-list-header"><i class="fas fa-book"></i> Docs</td>
                <td><a href="https://docs.reana.io/">docs.reana.io</a></td>
              </tr>
              <tr>
                <td class="contact-list-header"><i class="fas fa-newspaper"></i> Blog</td>
                <td><a href="https://blog.reana.io/">blog.reana.io</a></td>
              </tr>
              <tr>
                <td class="contact-list-header"><i class="fab fa-discourse"></i> Forum</td>
                <td><a href="https://forum.reana.io/">forum.reana.io</a></td>
              </tr>
              <tr>
                <td class="contact-list-header"><i class="far fa-envelope-open"></i> Email</td>
                <td><a href="mailto:info@reanahub.io">info@reanahub.io</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col centered">
          <span>Copyright © 2017-{{ current_year }} CERN. Icons by <a href="http://fontawesome.io/">Font Awesome</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
