{% extends 'layout.html' %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<section class="intro-section">
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="headline col">
          <div><img src="{{ '/static/img/logo-reana.svg'|asseturl }}"></div>
          <h1>Reproducible research data analysis platform</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features-section section-content-white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3 flexible-section">
        <h3>Flexible</h3>
        <p>
          Run many computational workflow engines.
        </p>
        <a href="https://www.commonwl.org/"><img src="{{ '/static/img/logo-cwl.svg'|asseturl }}" title="Common Workflow Language" /></a>
        <a href="https://www.dask.org/"><img src="{{ '/static/img/logo-dask.svg'|asseturl }}" title="Dask" /></a>
        <a href="https://snakemake.github.io/"><img src="{{ '/static/img/logo-snakemake.png'|asseturl }}" title="Snakemake" /></a>
        <a href="https://github.com/yadage"><img src="{{ '/static/img/logo-yadage.png'|asseturl }}" title="Yadage" /></a>
      </div>
      <div class="col-md-3 scalable-section">
        <h3>Scalable</h3>
        <p>
          Support for remote compute clouds.
        </p>
        <a href="https://kubernetes.io/"><img src="{{ '/static/img/logo-kubernetes.svg'|asseturl }}" title="Kubernetes" /></a>
        <a href="https://research.cs.wisc.edu/htcondor/"><img src="{{ '/static/img/logo-htcondor.png'|asseturl }}" class="htcondor" title="HTCondor" /></a>
        <a href="https://slurm.schedmd.com/"><img src="{{ '/static/img/logo-slurm.svg'|asseturl }}" class="slurm" title="Slurm" /></a>
      </div>
      <div class="col-md-3 reusable-section">
        <h3>Reusable</h3>
        <p>
          Containerise once, reuse elsewhere. Cloud-native.
        </p>
        <a href="https://www.docker.com/"><img src="{{ '/static/img/logo-docker.svg'|asseturl }}" title="Docker" /></a>
        <a href="https://apptainer.org/"><img src="{{ '/static/img/logo-apptainer.svg'|asseturl }}" class="apptainer" title="Apptainer" /></a>
      </div>
      <div class="col-md-3">
        <h3>Free</h3>
        <p>
          Free Software. MIT licence. Made with <i class="fa fa-heart"></i> at CERN.
        </p>
        <a href="https://home.cern"><img src="{{ '/static/img/logo-cern.png'|asseturl }}" title="CERN" /></a>
      </div>
    </div>
  </div>
</section>
<div class="separator">
  <img src="{{ '/static/img/separator.svg'|asseturl }}" />
</div>
<section class="examples-section section-content-light-bg" id="examples">
  <div class="container">
    <span class="section-title-dark-bg">Examples</span>
    <div id="examples-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <div class="command-line cl-example">
                  <div class="line"><span class="prompt">$</span>cat inputs/names.txt</div>
                  <div class="line output">Jane Doe</div>
                  <div class="line output">Joe Bloggs</div>
                  <div class="line"><span class="prompt">$</span>reana-client start</div>
                  <div class="line"><span class="prompt">$</span>reana-client download</div>
                  <div class="line"><span class="prompt">$</span>cat outputs/greetings.txt</div>
                  <div class="line output">Hello Jane Doe!</div>
                  <div class="line output">Hello Joe Bloggs!</div>
                </div>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-helloworld">"Hello world"</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-helloworld&name=reana-demo-helloworld">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-worldpopulation"><img src="{{ '/static/img/example-jupyter.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-worldpopulation">Parametrised Jupyter notebook</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-worldpopulation&name=reana-demo-worldpopulation">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-root6-roofit"><img src="{{ '/static/img/example-root.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-root6-roofit">ROOT/RooFit physics analysis</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-root6-roofit&name=reana-demo-root6-roofit">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-bsm-search"><img src="{{ '/static/img/example-bsm-search.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-bsm-search">ATLAS BSM search</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-root6-roofit&name=reana-demo-bsm-search">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-lhcb-d2pimumu"><img src="{{ '/static/img/example-lhcb-rare-charm-decay-search.jpg'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-lhcb-d2pimumu">LHCb rare charm decay search</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-lhcb-d2pimumu&name=reana-demo-lhcb-d2pimumu">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-alice-lego-train-test-run"><img src="{{ '/static/img/example-alice-lego-train-test-run.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-alice-lego-train-test-run">ALICE LEGO train test run</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-alice-lego-train-test-run&name=reana-demo-alice-lego-train-test-run">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-atlas-recast"><img src="{{ '/static/img/example-atlas-recast.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-atlas-recast">ATLAS RECAST</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-atlas-recast&name=reana-demo-atlas-recast">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-cms-h4l"><img src="{{ '/static/img/example-cms-higgs-to-four-leptons.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-cms-h4l">CMS Higgs-to-four-leptons</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-cms-h4l&name=reana-demo-cms-h4l">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#examples-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#examples-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<section class="getstarted-section section-content-dark-bg" id="getstarted">
  <div class="container">
    <span class="section-title-white-bg">Get started</span>
    <div class="row">
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">1</div>
        </div>
        <h3>Structure your analysis</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line">inputs:</div>
            <div class="line tab">files:</div>
            <div class="line tab-2x">- code/mycode.py</div>
            <div class="line tab-2x">- inputs/mydata.csv</div>
            <div class="line tab">parameters:</div>
            <div class="line tab-2x">myparameter: myvalue</div>
            <div class="line">workflow:</div>
            <div class="line tab">type: cwl</div>
            <div class="line tab">file: workflow/myworkflow.cwl</div>
            <div class="line">outputs:</div>
            <div class="line tab">files:</div>
            <div class="line tab-2x">- results/myplot.png</div>
          </div>
          <figcaption class="figure-caption text-center"><a href="https://docs.reana.io/reference/reana-yaml/">more</a></figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">2</div>
        </div>
        <h3>Select a REANA cluster...</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line"><span class="prompt">$</span>export REANA_SERVER_URL=https://reana.cern.ch/</div>
            <div class="line"><span class="prompt">$</span>export REANA_ACCESS_TOKEN=XXXXXXX</div>
          </div>
        </figure>
        <h3>...or install your own</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line comment"># install kubectl 1.19+, kind 0.9+ and helm 3.0+</div>
            <div class="line"><span class="prompt">$</span>sudo dpkg -i kubectl*.deb kind*.deb kubernetes-helm*.deb</div>
            <div class="line comment"># create Kubernetes cluster (or use your own!)</div>
            <div class="line"><span class="prompt">$</span>wget https://raw.githubusercontent.com/reanahub/reana/maint-0.9/etc/kind-localhost-30443.yaml</div>
            <div class="line"><span class="prompt">$</span>kind create cluster --config kind-localhost-30443.yaml</div>
            <div class="line"><span class="prompt">$</span>wget https://raw.githubusercontent.com/reanahub/reana/maint-0.9/scripts/prefetch-images.sh</div>
            <div class="line"><span class="prompt">$</span>sh prefetch-images.sh</div>
            <div class="line comment"># deploy REANA using Helm</div>
            <div class="line"><span class="prompt">$</span>helm repo add reanahub https://reanahub.github.io/reana</div>
            <div class="line"><span class="prompt">$</span>helm repo update</div>
            <div class="line"><span class="prompt">$</span>helm install reana reanahub/reana --wait</div>
            <div class="line comment"># create an admin user</div>
            <div class="line"><span class="prompt">$</span>wget https://raw.githubusercontent.com/reanahub/reana/maint-0.9/scripts/create-admin-user.sh</div>
            <div class="line"><span class="prompt">$</span>sh create-admin-user.sh default reana john.doe@example.org mysecretpassword</div>
          </div>
          <figcaption class="figure-caption text-center"><a href="https://docs.reana.io/administration/deployment/deploying-locally/">more</a></figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">3</div>
        </div>
        <h3>Run your analysis</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line comment"># create new virtual environment</div>
            <div class="line"><span class="prompt">$</span>virtualenv ~/.virtualenvs/myreana</div>
            <div class="line"><span class="prompt">$</span>source ~/.virtualenvs/myreana/bin/activate</div>
            <div class="line comment"># install REANA client</div>
            <div class="line"><span class="prompt">$</span>pip install reana-client</div>
            <div class="line comment"># create new workflow</div>
            <div class="line"><span class="prompt">$</span>reana-client create -n my-analysis</div>
            <div class="line"><span class="prompt">$</span>export REANA_WORKON=my-analysis</div>
            <div class="line comment"># upload input code and data to workspace</div>
            <div class="line"><span class="prompt">$</span>reana-client upload ./code ./data</div>
            <div class="line comment"># start computational workflow</div>
            <div class="line"><span class="prompt">$</span>reana-client start</div>
            <div class="line comment"># check its progress</div>
            <div class="line"><span class="prompt">$</span>reana-client status</div>
            <div class="line comment"># list workspace files</div>
            <div class="line"><span class="prompt">$</span>reana-client ls</div>
            <div class="line comment"># open interactive notebook session</div>
            <div class="line"><span class="prompt">$</span>reana-client open jupyter</div>
            <div class="line comment"># download output results</div>
            <div class="line"><span class="prompt">$</span>reana-client download results/plot.png</div>
          </div>
          <figcaption class="figure-caption text-center"><a href="https://docs.reana.io/getting-started/first-example/">more</a></figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="documentation-section section-content-light-bg" id="documentation">
  <div class="container">
    <span class="section-title-dark-bg">Documentation</span>
    <div class="row">
      <div class="col">
        <i class="fas fa-flask fa-5x"></i>
        <h3>Researchers</h3>
        <p>
          Find out how you can use REANA to describe, run, preserve and reuse your analyses.
        </p>
        <a href="https://docs.reana.io/getting-started/">User Guide</a>
      </div>
      <div class="col">
        <i class="fab fa-mixcloud fa-5x"></i>
        <h3>Administrators</h3>
        <p>
          Install and manage the REANA reusable analysis platform on your own compute cloud.
        </p>
        <a href="https://docs.reana.io/administration/">Administrator Guide</a>
      </div>
      <div class="col">
        <i class="fas fa-laptop fa-5x"></i>
        <h3>Developers</h3>
        <p>
          Understand REANA source code, adapt it to your needs, contribute changes back.
        </p>
        <a href="https://github.com/reanahub/reana/wiki/">Developer Guide</a>
      </div>
    </div>
  </div>
</section>
<section class="news-section section-content-white-bg" id="news">
  <div class="container">
    <span class="section-title-white-bg">Latest news</span>
    <div class="row">
      <div class="col-md-6">
        <div class="release-news-group">
          <span class="release-news-label">Latest development release</span>
          <div class="release-news">
            <img class="screenshot-browser-mockup" src="{{ '/static/img/release-0.95.0-alpha.5.png'|asseturl }}" alt="Dask dashboard showing a running REANA workflow" />
            <div class="release-news-body">
              <h3>REANA 0.95.0-alpha.5</h3>
              <h6>June 8th 2026</h6>
              <p>Brings numerous functional and security improvements, including configurable HTCondor resource hints and periodic user quota renewals.</p>
              <p>Adds workflow container image vetting and improves access to Dask service logs.</p>
              <p class="release-news-link"><a href="https://reanahub.github.io/reana/">See development releases</a></p>
            </div>
          </div>
        </div>
        <div class="release-news-group">
          <span class="release-news-label">Latest stable release</span>
          <div class="release-news">
            <img class="screenshot-browser-mockup" src="{{ '/static/img/release.png'|asseturl }}" />
            <div class="release-news-body">
              <h3>REANA 0.9.4</h3>
              <h6>December 16th 2024</h6>
              <p>Adds support for user secrets in Jupyter notebook sessions.</p>
              <p>Introduces support for Compute4PUNCH infrastructure.</p>
              <p>Enhances HTCondor compute backend job dispatch.</p>
              <p>Strengthens the security of the platform.</p>
              <p class="release-news-link"><a href="https://github.com/reanahub/reana/releases/tag/0.9.4">See full release notes</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="events-list-container">
          <table class="events-list">
            <tbody>
              <tr>
                <td class="events-list-header"><i class="fas fa-briefcase event-conference"></i></td>
                <td>
                  <strong>August 25th 2026:</strong> The REANA team is hiring two graduate full-stack software developers! Apply by September 9th 2026 at 23:59 Geneva time. <a href="https://careers.cern/jobs/it-ca-osi-2026-207-grae/">[IT-CA-OSI-2026-207-GRAE]</a> <a href="https://careers.cern/jobs/it-ca-osi-2026-208-grae/">[IT-CA-OSI-2026-208-GRAE]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>July 7th-8th 2026:</strong> Tibor takes part in the <em>EOSC Federation Build-up Group</em> plenary in Brussels, Belgium. <a href="https://eosc.eu/building-the-eosc-federation/eosc-federation-build-up-group">[event]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>June 24th 2026:</strong> Tibor presents the CERN EOSC federated scientific workflows use case at the <em>EOSC Academy Course 3: Use Cases for the EOSC Federation</em> online session. <a href="https://eosc.eu/academy/course-3-use-cases-for-the-eosc-federation">[course]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>June 22nd-26th 2026:</strong> Alex, Arman, Elena, Michael, Olaf and Tibor take part in the <em>AIP-CERN REANA hackathon</em>. <a href="https://indico.cern.ch/event/1691055/">[event]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fas fa-tag event-conference"></i></td>
                <td>
                  <strong>June 8th 2026:</strong> The REANA 0.95.0-alpha.5 development release is published. <a href="https://reanahub.github.io/reana/">[release]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>May 25th-29th 2026:</strong> Tibor presents <em>Reproducible Dask workflows in the REANA reusable analyses platform</em> at <em>CHEP 2026</em> in Bangkok, Thailand. <a href="https://indico.cern.ch/event/1471803/">[event]</a> <a href="https://indico.cern.ch/event/1471803/contributions/6968273/attachments/3280874/5863139/chep2026-reana-dask-poster.pdf">[poster]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>April 27th-30th 2026:</strong> Cameron, Michael and Tibor take part in the virtual <em>HSF/IRIS-HEP Analysis Reproducibility</em> training event, leading a reproducible analysis lesson. <a href="https://indico.cern.ch/event/1658598/">[event]</a> <a href="https://hsf-training.github.io/hsf-training-reana-webpage/">[lesson]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fas fa-tag event-conference"></i></td>
                <td>
                  <strong>March 29th 2026:</strong> The REANA 0.95.0-alpha.4 development release is published. <a href="https://reanahub.github.io/reana/">[release]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>March 9th-13th 2026:</strong> Cameron participates in the <em>Snakemake Hackathon 2026</em> in Munich, Germany. <a href="https://indico.cern.ch/event/1574891/">[event]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>March 5th-6th 2026:</strong> Tibor presents <em>Facilitating Open Data Reuse with REANA: From Scalable Workflows to AI-Assisted Analysis Authoring</em> at the <em>5th DPHEP Collaboration Workshop</em> at CERN. <a href="https://indico.cern.ch/event/1529317/">[event]</a> <a href="https://indico.cern.ch/event/1529317/contributions/6966087/attachments/3233075/5763624/REANA-DPHEP-20260305.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>February 18th 2026:</strong> Tibor presents REANA at the <em>6th Open Science Practitioners Forum on Analysis Workflows</em>. <a href="https://indico.cern.ch/event/1643846/">[event]</a> <a href="https://indico.cern.ch/event/1643846/contributions/6912397/attachments/3222652/5742809/REANA-OSPF-20260218.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fas fa-tag event-conference"></i></td>
                <td>
                  <strong>January 9th 2026:</strong> The REANA 0.95.0-alpha.3 development release is published. <a href="https://reanahub.github.io/reana/">[release]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>November 19th-20th 2025:</strong> Tibor presents <em>REANA development status and plans</em> at the <em>PUNCH4NFDI Annual Meeting</em> in Potsdam, Germany. <a href="https://indico.desy.de/event/48557/">[event]</a> <a href="https://simko.web.cern.ch/tmp/reana-punch4nfdi-20251118.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>November 3rd-7th 2025:</strong> Cameron and Tibor teach reproducible analysis with REANA at the <em>2nd CERN School of Computing on IT Services</em> in Ferney-Voltaire, France. <a href="https://indico.cern.ch/event/1580446/">[event]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fas fa-book event-conference"></i></td>
                <td>
                  <strong>October 7th 2025:</strong> The REANA team contributes to two papers published in the CHEP 2024 proceedings: <em>Benchmarking massively-parallel Analysis Grand Challenge workflows using Snakemake and REANA</em> <a href="https://doi.org/10.1051/epjconf/202533701168">[paper]</a> and <em>LHCb Open Data Ntupling Service: On-demand production and publishing of custom LHCb Open Data</em> <a href="https://doi.org/10.1051/epjconf/202533701231">[paper]</a>.
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>September 17th-19th 2025:</strong> Tibor presents the REANA reproducible analysis platform at the <em>OSCARS Composability &amp; AAI Workshop</em> at CERN. <a href="https://indico.cern.ch/event/1527699/">[event]</a> <a href="https://indico.cern.ch/event/1527699/contributions/6609453/attachments/3138806/5570238/REANA-OSCARS-Workshop-20250919.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>September 15th-17th 2025:</strong> Tibor presents the importance of computational reproducibility for Open and FAIR Science at <em>Open Science Fair 2025</em> in Geneva, Switzerland. <a href="https://indico.cern.ch/event/1484392/">[event]</a> <a href="https://indico.cern.ch/event/1484392/contributions/6523968/attachments/3135007/5567862/reproducibility-osf-20250916.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fas fa-book event-conference"></i></td>
                <td>
                  <strong>August 26th 2025:</strong> Tibor co-authors the ICFA <em>Recommendations for Best Practices for Data Preservation and Open Science in HEP</em>. <a href="https://arxiv.org/abs/2508.18892">[paper]</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="roadmap-section section-content-light-bg" id="roadmap">
  <div class="container">
    <span class="section-title-white-bg">Roadmap</span>
    <div class="row">
      <div class="col-md-4">
        <h3>Current</h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://github.com/reanahub/reana-client-go" class="card-link">Go client feature parity</a>
            </h5>
            <p class="card-text">
              Reach feature parity with the Python client across commands, options, and behaviour.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Near-term</h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://github.com/orgs/reanahub/projects/68/views/4" class="card-link">JWT and OIDC authentication</a>
            </h5>
            <p class="card-text">
              Connect REANA to external infrastructures and enable device authorisation for command-line access.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Future</h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://github.com/reanahub/reana/releases" class="card-link">Stable REANA 0.95 release</a>
            </h5>
            <p class="card-text">
              Conclude the development cycle by stabilising APIs and features for the public REANA 0.95 release.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
