{% extends 'layout.html' %}

{% block title %}{{ this.title }}{% endblock %}

{% block body %}
<section class="intro-section">
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="headline col">
          <div><img src="{{ '/static/img/logo-reana.svg'|asseturl }}"></div>
          <h1>Reproducible research data analysis platform</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features-section section-content-white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3 flexible-section">
        <h3>Flexible</h3>
        <p>
          Run many computational workflow engines.
        </p>
        <a href="https://www.commonwl.org/"><img src="{{ '/static/img/logo-cwl.svg'|asseturl }}" title="Common Workflow Language" /></a>
        <a href="https://www.dask.org/"><img src="{{ '/static/img/logo-dask.svg'|asseturl }}" title="Dask" /></a>
        <a href="https://snakemake.github.io/"><img src="{{ '/static/img/logo-snakemake.png'|asseturl }}" title="Snakemake" /></a>
        <a href="https://github.com/yadage"><img src="{{ '/static/img/logo-yadage.png'|asseturl }}" title="Yadage" /></a>
      </div>
      <div class="col-md-3 scalable-section">
        <h3>Scalable</h3>
        <p>
          Support for remote compute clouds.
        </p>
        <a href="https://kubernetes.io/"><img src="{{ '/static/img/logo-kubernetes.svg'|asseturl }}" title="Kubernetes" /></a>
        <a href="https://research.cs.wisc.edu/htcondor/"><img src="{{ '/static/img/logo-htcondor.png'|asseturl }}" class="htcondor" title="HTCondor" /></a>
        <a href="https://slurm.schedmd.com/"><img src="{{ '/static/img/logo-slurm.svg'|asseturl }}" class="slurm" title="Slurm" /></a>
      </div>
      <div class="col-md-3">
        <h3>Reusable</h3>
        <p>
          Containerise once, reuse elsewhere. Cloud-native.
        </p>
        <a href="https://www.docker.com/"><img src="{{ '/static/img/logo-docker.svg'|asseturl }}" title="Docker" /></a>
        <a href="https://singularity.lbl.gov/"><img src="{{ '/static/img/logo-singularity.svg'|asseturl }}" title="Singularity" /></a>
      </div>
      <div class="col-md-3">
        <h3>Free</h3>
        <p>
          Free Software. MIT licence. Made with <i class="fa fa-heart"></i> at CERN.
        </p>
        <a href="https://home.cern"><img src="{{ '/static/img/logo-cern.png'|asseturl }}" title="CERN" /></a>
      </div>
    </div>
  </div>
</section>
<div class="separator">
  <img src="{{ '/static/img/separator.svg'|asseturl }}" />
</div>
<section class="examples-section section-content-light-bg" id="examples">
  <div class="container">
    <span class="section-title-dark-bg">Examples</span>
    <div id="examples-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <div class="command-line cl-example">
                  <div class="line"><span class="prompt">$</span>cat inputs/names.txt</div>
                  <div class="line output">Jane Doe</div>
                  <div class="line output">Joe Bloggs</div>
                  <div class="line"><span class="prompt">$</span>reana-client start</div>
                  <div class="line"><span class="prompt">$</span>reana-client download</div>
                  <div class="line"><span class="prompt">$</span>cat outputs/greetings.txt</div>
                  <div class="line output">Hello Jane Doe!</div>
                  <div class="line output">Hello Joe Bloggs!</div>
                </div>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-helloworld">"Hello world"</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-helloworld&name=reana-demo-helloworld">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-worldpopulation"><img src="{{ '/static/img/example-jupyter.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-worldpopulation">Parametrised Jupyter notebook</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-worldpopulation&name=reana-demo-worldpopulation">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-root6-roofit"><img src="{{ '/static/img/example-root.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-root6-roofit">ROOT/RooFit physics analysis</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-root6-roofit&name=reana-demo-root6-roofit">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-bsm-search"><img src="{{ '/static/img/example-bsm-search.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-bsm-search">ATLAS BSM search</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-root6-roofit&name=reana-demo-bsm-search">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-lhcb-d2pimumu"><img src="{{ '/static/img/example-lhcb-rare-charm-decay-search.jpg'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-lhcb-d2pimumu">LHCb rare charm decay search</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-lhcb-d2pimumu&name=reana-demo-lhcb-d2pimumu">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-alice-lego-train-test-run"><img src="{{ '/static/img/example-alice-lego-train-test-run.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-alice-lego-train-test-run">ALICE LEGO train test run</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-alice-lego-train-test-run&name=reana-demo-alice-lego-train-test-run">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-atlas-recast"><img src="{{ '/static/img/example-atlas-recast.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-atlas-recast">ATLAS RECAST</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-atlas-recast&name=reana-demo-atlas-recast">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-md-4">
              <figure class="figure">
                <a href="https://github.com/reanahub/reana-demo-cms-h4l"><img src="{{ '/static/img/example-cms-higgs-to-four-leptons.png'|asseturl }}" class="figure-img img-fluid rounded"></a>
                <figcaption class="figure-caption text-center">
                  <i class="fab fa-github"></i>
                  <a href="https://github.com/reanahub/reana-demo-cms-h4l">CMS Higgs-to-four-leptons</a>
                  <div style="line-height:70%">
                    <br />
                  </div>
                  <a href="https://reana.cern.ch/launch?url=https%3A%2F%2Fgithub.com%2Freanahub%2Freana-demo-cms-h4l&name=reana-demo-cms-h4l">
                    <img src="https://www.reana.io/static/img/badges/launch-on-reana-at-cern.svg" alt="Launch on REANA badge">
                  </a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#examples-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#examples-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<section class="getstarted-section section-content-dark-bg" id="getstarted">
  <div class="container">
    <span class="section-title-white-bg">Get started</span>
    <div class="row">
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">1</div>
        </div>
        <h3>Structure your analysis</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line">inputs:</div>
            <div class="line tab">files:</div>
            <div class="line tab-2x">- code/mycode.py</div>
            <div class="line tab-2x">- inputs/mydata.csv</div>
            <div class="line tab">parameters:</div>
            <div class="line tab-2x">myparameter: myvalue</div>
            <div class="line">workflow:</div>
            <div class="line tab">type: cwl</div>
            <div class="line tab">file: workflow/myworkflow.cwl</div>
            <div class="line">outputs:</div>
            <div class="line tab">files:</div>
            <div class="line tab-2x">- results/myplot.png</div>
          </div>
          <figcaption class="figure-caption text-center"><a href="https://docs.reana.io/reference/reana-yaml/">more</a></figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">2</div>
        </div>
        <h3>Select a REANA cluster...</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line"><span class="prompt">$</span>export REANA_SERVER_URL=https://reana.cern.ch/</div>
            <div class="line"><span class="prompt">$</span>export REANA_ACCESS_TOKEN=XXXXXXX</div>
          </div>
        </figure>
        <h3>...or install your own</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line comment"># install kubectl 1.19+, kind 0.9+ and helm 3.0+</div>
            <div class="line"><span class="prompt">$</span>sudo dpkg -i kubectl*.deb kind*.deb kubernetes-helm*.deb</div>
            <div class="line comment"># create Kubernetes cluster (or use your own!)</div>
            <div class="line"><span class="prompt">$</span>wget https://raw.githubusercontent.com/reanahub/reana/maint-0.9/etc/kind-localhost-30443.yaml</div>
            <div class="line"><span class="prompt">$</span>kind create cluster --config kind-localhost-30443.yaml</div>
            <div class="line"><span class="prompt">$</span>wget https://raw.githubusercontent.com/reanahub/reana/maint-0.9/scripts/prefetch-images.sh</div>
            <div class="line"><span class="prompt">$</span>sh prefetch-images.sh</div>
            <div class="line comment"># deploy REANA using Helm</div>
            <div class="line"><span class="prompt">$</span>helm repo add reanahub https://reanahub.github.io/reana</div>
            <div class="line"><span class="prompt">$</span>helm repo update</div>
            <div class="line"><span class="prompt">$</span>helm install reana reanahub/reana --wait</div>
            <div class="line comment"># create an admin user</div>
            <div class="line"><span class="prompt">$</span>wget https://raw.githubusercontent.com/reanahub/reana/maint-0.9/scripts/create-admin-user.sh</div>
            <div class="line"><span class="prompt">$</span>sh create-admin-user.sh default reana john.doe@example.org mysecretpassword</div>
          </div>
          <figcaption class="figure-caption text-center"><a href="https://docs.reana.io/administration/deployment/deploying-locally/">more</a></figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <div class="flex-center-vertically">
          <div class="numbering">3</div>
        </div>
        <h3>Run your analysis</h3>
        <figure class="figure">
          <div class="command-line">
            <div class="line comment"># create new virtual environment</div>
            <div class="line"><span class="prompt">$</span>virtualenv ~/.virtualenvs/myreana</div>
            <div class="line"><span class="prompt">$</span>source ~/.virtualenvs/myreana/bin/activate</div>
            <div class="line comment"># install REANA client</div>
            <div class="line"><span class="prompt">$</span>pip install reana-client</div>
            <div class="line comment"># create new workflow</div>
            <div class="line"><span class="prompt">$</span>reana-client create -n my-analysis</div>
            <div class="line"><span class="prompt">$</span>export REANA_WORKON=my-analysis</div>
            <div class="line comment"># upload input code and data to workspace</div>
            <div class="line"><span class="prompt">$</span>reana-client upload ./code ./data</div>
            <div class="line comment"># start computational workflow</div>
            <div class="line"><span class="prompt">$</span>reana-client start</div>
            <div class="line comment"># check its progress</div>
            <div class="line"><span class="prompt">$</span>reana-client status</div>
            <div class="line comment"># list workspace files</div>
            <div class="line"><span class="prompt">$</span>reana-client ls</div>
            <div class="line comment"># open interactive notebook session</div>
            <div class="line"><span class="prompt">$</span>reana-client open jupyter</div>
            <div class="line comment"># download output results</div>
            <div class="line"><span class="prompt">$</span>reana-client download results/plot.png</div>
          </div>
          <figcaption class="figure-caption text-center"><a href="https://docs.reana.io/getting-started/first-example/">more</a></figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="documentation-section section-content-light-bg" id="documentation">
  <div class="container">
    <span class="section-title-dark-bg">Documentation</span>
    <div class="row">
      <div class="col">
        <i class="fas fa-flask fa-5x"></i>
        <h3>Researchers</h3>
        <p>
          Find out how you can use REANA to describe, run, preserve and reuse your analyses.
        </p>
        <a href="https://docs.reana.io/getting-started/">User Guide</a>
      </div>
      <div class="col">
        <i class="fab fa-mixcloud fa-5x"></i>
        <h3>Administrators</h3>
        <p>
          Install and manage the REANA reusable analysis platform on your own compute cloud.
        </p>
        <a href="https://docs.reana.io/administration/">Administrator Guide</a>
      </div>
      <div class="col">
        <i class="fas fa-laptop fa-5x"></i>
        <h3>Developers</h3>
        <p>
          Understand REANA source code, adapt it to your needs, contribute changes back.
        </p>
        <a href="https://github.com/reanahub/reana/wiki/">Developer Guide</a>
      </div>
    </div>
  </div>
</section>
<section class="news-section section-content-white-bg" id="news">
  <div class="container">
    <span class="section-title-white-bg">Latest news</span>
    <div class="row">
      <div class="col-md-6">
        <div class="release-news">
          <img class="screenshot-browser-mockup" src="{{ '/static/img/release.png'|asseturl }}" />
          <div class="release-news-body">
            <h3>REANA 0.9.4</h3>
            <h6>December 16th 2024</h6>
            <p>Adds support for user secrets in Jupyter notebook sessions.</p>
            <p>Introduces support for Compute4PUNCH infrastructure.</p>
            <p>Enhances HTCondor compute backend job dispatch.</p>
            <p>Strengthens the security of the platform.</p>
            <p class="release-news-link"><a href="https://github.com/reanahub/reana/releases/tag/0.9.4">See full release notes</a></p>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="events-list-container">
          <table class="events-list">
            <tbody>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>March 24th-28th 2025:</strong> Alp and Tibor participate at the <em>HSF/IRIS-HEP Analysis Reproducibility (Virtual)</em> trainig event. <a href="https://indico.cern.ch/event/1508102/timetable/">[event]</a> <a href="https://indico.cern.ch/event/1508102/contributions/6346317/attachments/3003694/5364348/reana-hsf-analysis-reproducibility-20250324.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>March 17th-18th 2025:</strong> Enrique and Jose participate at the <em>Kick-off workshop of the EOSC Federation</em>. <a href="https://eosc.eu/events/kick-off-workshop-of-the-eosc-federation/">[event]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>February 25th-28th 2025:</strong> Giovanni presents CERN platforms for scientific analyses (including REANA) at the <em>(Re)interpretation of the LHC results for new physics</em> workshop. <a href="https://indico.cern.ch/event/1466101/">[event]</a> <a href="https://indico.cern.ch/event/1466101/contributions/6363705/attachments/3020899/5329706/re-interpretation%20slides%20gguerrie.pdf">[slides]</a> 
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>February 17-18th 2025:</strong> Tibor presents <em>REANA: status and plans</em> at the CMS Physics Days event focused on Beyond the Standard Model Combinations. <a href="https://simko.web.cern.ch/talks/reana-cms-physics-days-20250218.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>February 14th 2025:</strong> Alp presents <em>Supporting Dask workloads in the REANA reproducible analysis platform</em> at the IRIS-HEP Analysis Grand Challenge Demo Day 7. <a href="https://indico.cern.ch/event/1487508/">[event]</a> <a href="https://indico.cern.ch/event/1487508/contributions/6342602/attachments/3015475/5318085/REANA%20with%20Dask.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>November 24th-29th 2024:</strong> Tibor runs a reproducible workflow training at the <em>EURO-LABS Advanced Training: Open Science and Data Management</em> in Ebernburg, Germany. <a href="https://indico.gsi.de/event/19808/">[event]</a> <a href="https://indico.gsi.de/event/19808/contributions/84384/attachments/49687/72573/reana-eurolabs-20241124.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>November 4th-8th 2024:</strong> Marco and Tibor run a reproducible workflow training at the <em>1st CERN School of Computing on IT Services</em> in Ferney-Voltaire, France. <a href="https://indico.cern.ch/event/1441237/">[event]</a> <a href="https://indico.cern.ch/event/1441237/contributions/6073466/attachments/2962323/5211163/reana-tcsc-20240804.pdf">[slides]</a> <a href="https://indico.cern.ch/event/1441237/contributions/6073467/attachments/2962247/5210471/reana-tcsc-20240804-exercises.pdf">[exercises]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>October 19th-25th 2024:</strong> Marco participates at the <em>Conference on Computing in High Energy and Nuclear Physics (CHEP 2024)</em> in Krakow, Poland. <a href="https://indico.cern.ch/event/1338689/">[event]</a> <a href="https://indico.cern.ch/event/1338689/contributions/6010709/attachments/2953224/5191926/chep2024-reana-agc.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>October 7th 2024:</strong> Jelizaveta presents <em>Improving latency and scalability of the user runtime job log collecting and exposure in REANA</em> at the IRIS-HEP Fellows Final Presentations event. <a href="https://indico.cern.ch/event/1449315/">[event]</a>  <a href="https://indico.cern.ch/event/1449315/contributions/6101296/attachments/2942223/5169554/Jelizaveta_Lemeseva_IRIS-HEP_2024.pdf">[slides]</a>   
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>October 2nd-3rd 2024:</strong> Marco and Tibor participate at the <em>4th DPHEP Collaboration Workshop</em> in Geneva, Switzerland. <a href="https://indico.cern.ch/event/1432766/">[event]</a> <a href="https://indico.cern.ch/event/1432766/contributions/6102894/attachments/2939601/5164277/REANA-4th-DPHEP-Workshop-20241002.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>September 17th-18th 2024:</strong> Tibor participates at the <em>2nd Next Generation Environment for Interoperable Data Analysis Expert Workshop</em> in Dortmund, Germany. <a href="https://indico.desy.de/event/45148/">[event]</a> <a href="https://indico.desy.de/event/45148/contributions/174550/attachments/92484/125211/reana-erum-20240917.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>August 28th 2024:</strong> Andrii presents <em>Analysis Grand Challenge on REANA</em> at the IRIS-HEP Gap Year Final Presentations event. <a href="https://indico.cern.ch/event/1446410/">[event]</a>  <a href="https://indico.cern.ch/event/1446410/contributions/6089681/attachments/2920779/5126627/REANA%20+%20AGC%20-%20final-presentation.pdf">[slides]</a>   
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>June 20th 2024:</strong> Tibor presents REANA at the <em>Swiss Reproducibility Network</em> comuptational reproducibility seminar. <a href="https://www.swissrn.org/contents/activities/computational%20reproducibility/#seminar">[series]</a>  <a href="https://simko.web.cern.ch/talks/reana-swissrn-webinar-20240620.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>June 18th-20th 2024:</strong> Tibor participates at the <em>Analysis Facilities Workshop</em> in Garching, Germany. <a href="https://indico.desy.de/event/44722/">[event]</a>  <a href="https://indico.desy.de/event/44722/contributions/168275/attachments/90958/122752/reana-analysis-facilities-workshop-20240619.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>April 3rd-5th 2024:</strong> Andrii, Marco and Tibor participate at the <em>Workshop on workflow languages for HEP analysis</em> in Geneva, Switzerland. <a href="https://indico.cern.ch/event/1380367/">[event]</a> <a href="https://indico.cern.ch/event/1380367/contributions/5880496/attachments/2831888/4947909/reana-workflow-language-workshop-20240405.pdf">[slides]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fas fa-book event-conference"></i></td>
                <td>
                  <strong>April 2nd 2024:</strong> REANA featured in the <em>Analysis Facilities White Paper</em>. <a href="https://arxiv.org/abs/2404.02100">[paper]</a>
                </td>
              </tr>
              <tr>
                <td class="events-list-header"><i class="fab fa-slideshare event-conference"></i></td>
                <td>
                  <strong>February 26th-March 1st 2024:</strong> Tibor presents at the <em>HSF Training on Analysis Pipelines</em>. <a href="https://indico.cern.ch/event/1375507/">[event]</a> <a href="https://indico.cern.ch/event/1375507/contributions/5815001/attachments/2807740/4899665/reana-hsf-analysis-pipelines-20240226.pdf">[slides]</a>     
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="roadmap-section section-content-light-bg" id="roadmap">
  <div class="container">
    <span class="section-title-white-bg">Roadmap</span>
    <div class="row">
      <div class="col-md-4">
        <h3>Current</h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Workflow sharing amongst users
            </h5>
            <p class="card-text">
              Introduce role-based authorisation control models allowing to share workflows with colleagues.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Near-term</h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Support for Dask workflows
            </h5>
            <p class="card-text">
              Allow users to dynamically create Dask cluster necessary for their workflows.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Future</h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              <a href="https://github.com/reanahub/reana-client-go" class="card-link">Go client and stable API</a>
            </h5>
            <p class="card-text">
              Introduce new command-line client written in Go to improve performance and ease of use. Stabilise the REST API versioning.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
